.btn-remove {
    background: none;
    border: none;
    cursor: pointer;
    color: red;
    font-size: 20px;
}

.btn-success {
    width: 100%;
    padding: 16px 24px;
    font-size: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.input-container {
    position: relative;
    margin-bottom: 15px;
}

.input-container.success input {
    border-color: #28a745;
}

.input-container.error input {
    border-color: #dc3545;
}

.input-container .error-message {
    color: #dc3545;
    display: block;
}

.input-container.success .error-message {
    display: none;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 1000;
    width: 100%;
}

.dropdown-menu li {
    padding: 5px 10px;
    cursor: pointer;
}

.dropdown-menu li:hover {
    background-color: #eee;
}

.btn-group {
    position: relative;
    display: inline-block;
    width: 100%;
}

.btn-dropdown {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    text-align: left;
}

.caret {
    float: right;
    margin-top: 8px;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    display: inline-block;
    vertical-align: middle;
}

.container-fluid {
    margin: 20px;
}

.border-black {
    border: 1px solid #0000004f;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    position: relative;
}

.supplier-section {
    padding-top: 60px;
}

.supplier-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #3b1de4af;
    color: white;
    padding: 10px 20px;
    margin: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-sizing: border-box;
}

.table-container {
    margin-top: 20px;
}

/* Modal de carregamento */
.loading-modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Formulário de anexos */
.attachment-form {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin-top: 15px;
    position: relative;
    background-color: #ffffff;
}

.form-description {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

#attachmentList {
    margin-bottom: 10px;
}

.attachment-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    position: relative;
    background-color: #ffffff;
}

.attachment-item span {
    flex-grow: 1;
    margin-left: 10px;
}

.attachment-item .item-label {
    position: absolute;
    bottom: 5px;
    left: 10px;
    font-size: 14px;
    color: #333;
}

/* Botões de ação */
.action-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-right: 5px;
}

.action-btn img {
    width: 40px;
    height: 40px;
}

/* Lista e item de produtos */
.product-list {
    margin-top: 20px;
}

.product-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}

.product-item-container {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    padding: 10px;
}

/* Botões de remoção e ícones */
.remove-btn {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 40px;
    display: flex;
    align-items: center;
    transform: translateY(80px);
}

.remove-btn img {
    width: 40px;
    height: 40px;
}

.box-icon {
    margin-right: 15px;
    display: flex;
    align-items: center;
    margin-top: 19px;
}

.box-icon img {
    width: 100px;
    height: 100px;
}

/* Detalhes do produto e formulário */
.product-form {
    flex: 1;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    background-color: #fff;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-content {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.product-details {
    flex: 1;
}

